# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=63d8f366834dce7f8697c849b42a4c56

## pagseguro credentials
PAGSEGURO_ENV=sandbox
PAGSEGURO_EMAIL=your_pagseguro_email
PAGSEGURO_TOKEN_SANDBOX=your_sandbox_token
PAGSEGURO_APP_ID_SANDBOX=your_sandbox_application_id
PAGSEGURO_APP_KEY_SANDBOX=your_sandbox_application_key
PAGSEGURO_TOKEN_PRODUCTION=your_production_token
PAGSEGURO_APP_ID_PRODUCTION=your_production_application_id
PAGSEGURO_APP_KEY_PRODUCTION=your_production_application_key
PAGSEGURO_CHARSET=UTF-8
PAGSEGURO_LOG_ACTIVE=false
PAGSEGURO_LOG_LOCATION=
PAGSEGURO_RECEIVER_EMAIL=your_receiver_email

#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS=localhost,example.com
###< symfony/framework-bundle ###
