<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}E-Payments API{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
      <div class="container">
        <div class="row mt-5">
          <h1>E-Payments API</h1>
        </div>
        {% block body %}{% endblock %}
        <script type="text/javascript" src=
        "http://stc.sandbox.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.directpayment.js">
        </script>
        <script src="{{ asset('build/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
      </div>
    </body>
</html>
