{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        Demo page
    </div>
    <div class="row">
        <h1>Generated Fields</h1>
    </div>
    <div class="row">
        <span>senderHash:&nbsp;</span>
        <div id="senderHash"></div>
    </div>
    <div class="row">
        <span>creditCardToken:&nbsp;</span>
        <div id="creditCardToken"></div>
    </div>
    <div class="row">
        <button id="pay">start payment</button>
    </div>
{% endblock %}
